.img-thumbnail {
    margin-bottom: 2px;
    min-width: 100px !important;
    height: 100px;
}

.nv-file-over {
    border: dotted 3px red;
}
input[type=file]{
    color: transparent;;
}
.card-body {
   padding: 0 25px; 
}
.card-footer {
    padding: 0 10px;
    background-color: white;
    border-top:none ;
}